body {
  background-color: #333 !important;
}

/* Hide mobile div */
.mobile-nav {
  display: none ;
}
.navigation-bar {
  height: 80px;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #222222;
}
.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.navigation-bar li {
  float: left;
  height: 80px;
}
.navigation-bar .navbar-title {
  font-size: 1vw;
}
.navigation-bar .float-right {
  float: right;
  height: 100%;
}

.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

.navigation-bar li a:hover {
  background-color: #fff;
  color: #222;
}

.navigation-bar .active {
  background-color: #333;
  color: #fff;
}

.navigation-bar a.menu-icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* Tablets and mobile devices */
@media (max-width: 768px) {
  .column {
    width: 100%;
  }
  .navigation-bar .navbar-title {
    font-size: 20px;
  }
  .navigation-bar {
    height: 80px;
  }
  .navigation-bar .float-right {
    display: none;
  }
  .mobile-nav {
    margin-top: 80px;
    top: 0;
    background-color: #222;
    width: 100%;
    display: none;
  }

  .mobile-nav ul {
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    position: fixed;
    width: 100%;
  }
  .mobile-nav li {
    height: 100%;
  }
  .mobile-nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }
  .mobile-nav li a:hover {
    background-color: #fff;
    color: #222;
  }

  .mobile-nav .active {
    background-color: #fff;
    color: #222;
  }
  .navigation-bar a.menu-icon {
    color: #fff;
    background-color: inherit;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    width: 50px;
  }
  .card {
    margin-left: 5% !important;
    width: 80%;
  }
}

/* Small changes to mobile/tablet devices less then 569*/
@media (max-width: 556px) {
  .launch-img-small {
      margin-right: 20% !important;
      margin-left: 25% !important;
      margin-bottom: 20px !important;
  }
  .btn-blue-small {
    display: block !important;
    margin-right: 50px !important;
    text-align: center !important;
    padding: 15px !important;
    float: left !important;
  }
  .top-divider {
      margin-top: 150px !important;
  }
}

/* HTML & body */
html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #333333;
}


/* Home */
.top-divider {
  margin-top: 300px;
}
.container {
  width: 100%;
  color: #fff;
  align-content: center;
  text-align: center;
}
.countdown {
  color: #FC4850;
  font-size: 60px;
  font-weight: bold;
}
.btn-blue {
  font-weight: bold;
  color: #fff;
  background-color: #0071C5;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-blue:hover {
  color: #0071C5;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Launches */
.launch-divider {
  margin-top: 75px;
}
.card {
  text-align: left;
  overflow:auto;
  margin-left: 10%;
  width: 80%;
  background-color: #222222;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.status-header {
  color: #1BB289;
  font-weight: bold;
}
.status-header-failure {
  color: #FC4850;
  font-weight: bold;
}
.status-header-orange {
  color: #E96836;
  font-weight: bold;
}
.bold-text {
  font-weight: bold;
}

.btn-blue-small {
  font-weight: bold;
  margin-right: 20px;
  color: #fff;
  background-color: #0071C5;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-blue-small:hover {
  color: #0071C5;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-container {
  overflow:auto;
}

.launch-img {
  float: left;
  width: 200;
  height: 200;
  margin-right: 50px;
}

.left {
  float: left;
}
.right {
  float: right;
}

/* Small card */

.card-small {
  text-align: left;
  overflow:auto;
  margin-left: 10%;
  width: 80%;
  background-color: #222222;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.launch-img-small {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 20px;
}

.title-header {
  text-align: right;
  margin-right: 8%;
  color: #1BB289;
  font-weight: bold;
}
.title-header-left {
  text-align: left;
  margin-left: 10%;
  color: #1BB289;
  font-weight: bold;
}
.title-spec {
  float: left;
  color: #1BB289;
  font-weight: bold;
}

.image-links {
  color: #fff;
}

.images {
  width: 80%;
  margin-left: 10%;
}
.links {
  width: 80%;
  margin-left: 10%;
}

.images-flickr {
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* margin-left: 10px; */
}
.images-flickr:hover {
  border: solid 4px;
  border-color: #1BB289;
}

/* LINKS on launch page */

.link {
  color: #fff !important;
  text-decoration: none;
  font-size: 15px;
  text-align: left !important;
}
li {
  margin-bottom: 10px;
}
.link:hover {
  box-shadow: 0 24px 38px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  border: solid 2px #1BB289;
  padding: 5px;
}

.link-image {
  width: 55px;
  height: 55px;
  margin-top: 20px;
  /* object-fit: cover; */
}

/* Contact page */

#contact {
  padding: 25px;
  max-width: 700px;
}
fieldset {
  border: none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #333;
  margin: 0 0 5px;
  padding: 10px;
  color: #fff;
}

::placeholder {
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
::-ms-input-placeholder {
    color: #fff;
}

.btn-blue-submit {
  font-weight: bold;
  color: #fff;
  background-color: #0071C5;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-blue-submit:hover {
  color: #0071C5;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.error {
  color: #fff;
  display: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #FC4850;
  width: 100%;
  padding: 10px;
}
.viewer-backdrop {
  /* Your custom background color here. */
  background-color: rgba(0, 0, 0, .95) !important; 
}